Repository justanotheruser/k_matcher: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, isort, bandit, mypy

flake8:
  args:
  - --verbose
  description: Command-line utility for enforcing style consistency across Python projects.
  entry: bash -c 'cd app && exec flake8'
  name: flake8
  language: python
  require_serial: true

black:
  args:
  - --verbose
  description: The uncompromising Python code formatter
  entry: bash -c 'cd app && exec black .'
  name: black
  language: python
  require_serial: true

isort:
  name: isort
  entry: bash -c 'cd app && exec isort .'
  require_serial: true
  language: python

bandit:
  args:
  - --verbose
  name: bandit
  entry: bash -c 'cd app && exec bandit -r ./plhdr_project_name -c ./pyproject.toml'
  language: python

mypy:
  args:
  - --verbose
  name: mypy
  entry: bash -c 'cd app && exec mypy .'
  language: python
  require_serial: true

flake8 settings in pyproject.toml
  app/poetry.lock
  app/pyproject.toml
Due: none

Max line length is 100
  app/pyproject.toml
Due: none

Tweak excluded dirs
  app/pyproject.toml
Due: none

Added pydantic-settings and __init__.py
  app/plhdr_project_name/__init__.py
  app/plhdr_project_name/config.py
  app/plhdr_project_name/main.py
  app/poetry.lock
  app/pyproject.toml
Due: flake8, black, isort, bandit, mypy

YAML config
  app/plhdr_project_name/config.py
  app/plhdr_project_name/main.py
  app/poetry.lock
  app/pyproject.toml
  cfg/cfg.yaml
Due: flake8, black, isort, bandit, mypy

launch.json
  .vscode/launch.json
  app/tests/test_one.py
Due: flake8, black, isort, mypy

simple survey scaffold
  .python-version
  README.md
  app/plhdr_project_name/main.py
  app/tests/conftest.py
  k_matcher/__init__.py
  k_matcher/config.py
  k_matcher/main.py
  k_matcher/questions.csv
  poetry.lock
  poetry.toml
  pyproject.toml
  tests/__init__.py
  tests/conftest.py
  tests/test_one.py
Due: flake8, black, isort, bandit, mypy

Show code
  .vscode/launch.json
  k_matcher/main.py
Due: flake8, black, isort, bandit, mypy

Good enough
  k_matcher/main.py
Due: flake8, black, isort, bandit, mypy

binary -> 4 options
  k_matcher/main.py
Due: flake8, black, isort, bandit, mypy

feat: change answer options & matching algorithm
  README.md
  k_matcher/domain/answer.py
  k_matcher/domain/question_result.py
  tests/unit/test_question_result.py
Due: flake8, black, isort, bandit, mypy

CORS & questions fetching
  backend/cfg/cfg.yaml
  backend/k_matcher/config.py
  backend/k_matcher/domain/models.py
  backend/k_matcher/main.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Question.tsx
  frontend/src/components/Spinner.tsx
Due: flake8, black, isort, bandit, mypy

feat: adjust design
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/Question.tsx
  frontend/src/index.css
  frontend/vite.config.ts
Due: none

feat: nice scrollbar and buttons
  frontend/index.html
  frontend/src/App.tsx
  frontend/src/components/Question.tsx
  frontend/src/components/QuestionButton.tsx
  frontend/src/index.css
Due: none

fix: add pyyaml to main dependencies
  backend/poetry.lock
  backend/pyproject.toml
Due: none

fix build
  backend/cfg/cfg.yaml
  frontend/src/App.tsx
  frontend/src/components/Question.tsx
  frontend/src/components/QuestionButton.tsx
  frontend/src/components/Spinner.tsx
Due: none

use redux for pagination
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api_types.tsx
  frontend/src/app/hooks.tsx
  frontend/src/app/store.tsx
  frontend/src/features/navigation/Navigation.tsx
  frontend/src/features/questions/Question.tsx
  frontend/src/features/questions/QuestionButton.tsx
  frontend/src/features/questions/QuestionList.tsx
  frontend/src/features/questions/questionsSlice.tsx
  frontend/src/main.tsx
Due: none

Fetch questions only the first time page is shown
  frontend/src/App.tsx
  frontend/src/app/store.tsx
  frontend/src/features/navigation/Navigation.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: none

Save answers in localStorage
  frontend/src/App.tsx
  frontend/src/features/questions/Question.tsx
  frontend/src/features/questions/QuestionButton.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: none

you spin me round, round, baby, right round (infinite loop with useEffect on loading)
  backend/.vscode/launch.json
  frontend/src/App.tsx
  frontend/src/features/questions/Question.tsx
  frontend/src/features/questions/QuestionButton.tsx
  frontend/src/features/questions/QuestionList.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: none

fixed inifinite loop in useEffect
  frontend/src/App.tsx
  frontend/src/features/navigation/Navigation.tsx
  frontend/src/features/questions/QuestionList.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: none

fixed localStorage usage
  frontend/src/features/questions/Question.tsx
  frontend/src/features/questions/QuestionList.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: none

README
  frontend/README.md
Due: none

Update README.md
  README.md
Due: none

Display category name
  frontend/src/App.tsx
  frontend/src/features/navigation/Navigation.tsx
  frontend/src/features/questions/QuestionButton.tsx
  frontend/src/features/questions/QuestionList.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: none

fix: empty question list prevented category from been displayed
  frontend/src/features/questions/QuestionList.tsx
Due: none

Added DB models for result & answers + initial alembic migration
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/2025_07_28_2119-f897abaaf4a1_init.py
  backend/k_matcher/domain/models.py
  backend/k_matcher/main.py
  backend/k_matcher/models/helpers.py
  backend/k_matcher/models/models.py
  backend/poetry.lock
  backend/pyproject.toml
Due: flake8, black, isort, bandit, mypy

Create pipeline for tests
  .github/workflows/backend.yml
Due: none

Update backend.yml
  .github/workflows/backend.yml
Due: none

POST /result + tests
  backend/.gitignore
  backend/alembic/versions/2025_07_28_2119-f897abaaf4a1_init.py
  backend/alembic/versions/2025_08_07_0006-685a7a1017d5_init.py
  backend/cfg/cfg.yaml
  backend/k_matcher/config.py
  backend/k_matcher/database.py
  backend/k_matcher/main.py
  backend/k_matcher/models/models.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/integration/conftest.py
  backend/tests/integration/test_post_result.py
  backend/tests/integration/test_question_categories.py
  backend/tests/integration/test_questions.py
  backend/tests/test_one.py
Due: flake8, black, isort, bandit, mypy

Submit answers from frontend
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/2025_08_07_0006-685a7a1017d5_init.py
  backend/k_matcher/main.py
  backend/k_matcher/models/models.py
  backend/poetry.lock
  backend/pyproject.toml
  frontend/src/App.tsx
  frontend/src/features/questions/QuestionList.tsx
  frontend/src/features/questions/SubmitButton.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: flake8, black, isort, bandit, mypy

Show link for partner
  backend/k_matcher/main.py
  backend/k_matcher/models/models.py
  frontend/src/App.tsx
  frontend/src/api_types.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: flake8, black, isort, bandit, mypy

Refactoring
  frontend/src/App.tsx
  frontend/src/components/SubmissionResult.tsx
Due: none

Polishing UI
  frontend/src/App.tsx
  frontend/src/components/SubmissionResult.tsx
Due: none

Fix link
  frontend/src/components/SubmissionResult.tsx
Due: none

Fix build errors
  frontend/src/App.tsx
  frontend/src/components/SubmissionResult.tsx
  frontend/src/components/SubmissionResultError.tsx
  frontend/src/components/SubmissionResultSuccess.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: none

Fix link (again)
  frontend/src/components/SubmissionResultSuccess.tsx
Due: none

Send partner_id
  frontend/src/api_types.tsx
  frontend/src/features/questions/questionsSlice.tsx
Due: none

Path conditions:
  flake8: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  bandit: any of: \.py$, but not: tests/.*$
  mypy: any of: \.py$
